USE [master]
GO
/****** Object:  Database [sippdpu]    Script Date: 20/01/2023 17:13:58 ******/
CREATE DATABASE [sippdpu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sippdpu', FILENAME = N'C:\Users\fanny\sippdpu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sippdpu_log', FILENAME = N'C:\Users\fanny\sippdpu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sippdpu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sippdpu]
GO
USE [sippdpu]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 20/01/2023 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[username] [varchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jalan]    Script Date: 20/01/2023 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jalan](
	[id_jalan] [int] IDENTITY(1,1) NOT NULL,
	[nama_jalan] [varchar](50) NULL,
	[lokasi] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[foto_jalan] [image] NULL,
 CONSTRAINT [PK_jalan] PRIMARY KEY CLUSTERED 
(
	[id_jalan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pengaduan]    Script Date: 20/01/2023 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pengaduan](
	[id_pengaduan] [int] IDENTITY(1,1) NOT NULL,
	[nama_pengadu] [varchar](50) NULL,
	[email_pengadu] [varchar](50) NULL,
	[subjek] [varchar](50) NULL,
	[pesan] [varchar](50) NULL,
	[respon] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[tanggal] [date] NULL,
 CONSTRAINT [PK_pengaduan] PRIMARY KEY CLUSTERED 
(
	[id_pengaduan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id_admin], [email], [password], [username]) VALUES (1, N'admin@gmail.com', N'admin', N'admin')
INSERT [dbo].[admin] ([id_admin], [email], [password], [username]) VALUES (1002, N'budiman@gmail.com', N'budiman', N'budiman')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[jalan] ON 

SET IDENTITY_INSERT [dbo].[jalan] OFF
GO
SET IDENTITY_INSERT [dbo].[pengaduan] ON 

INSERT [dbo].[pengaduan] ([id_pengaduan], [nama_pengadu], [email_pengadu], [subjek], [pesan], [respon], [status], [tanggal]) VALUES (1, N'Tes', N'tes@gmail', N'testing ajah', N'tessssss', NULL, N'Belum direspon', CAST(N'2022-12-01' AS Date))
INSERT [dbo].[pengaduan] ([id_pengaduan], [nama_pengadu], [email_pengadu], [subjek], [pesan], [respon], [status], [tanggal]) VALUES (2, N'aaaa', N'aa@gmail.com', N'aaa', N'aaa', NULL, N'Belum direspon', CAST(N'2023-01-20' AS Date))
INSERT [dbo].[pengaduan] ([id_pengaduan], [nama_pengadu], [email_pengadu], [subjek], [pesan], [respon], [status], [tanggal]) VALUES (3, N'budiman', N'budiman@gmail.com', N'coba coba', N'hello world', N'tes jaringan', N'Direspon', CAST(N'2023-01-20' AS Date))
SET IDENTITY_INSERT [dbo].[pengaduan] OFF
GO
USE [master]
GO
